@font-face {
  font-family: 'SFUITextRegular';
  src: url('../fonts/SFUITextRegular.eot');
  src: url('../fonts/SFUITextRegular.eot') format('embedded-opentype'),
    url('../fonts/SFUITextRegular.woff2') format('woff2'),
    url('../fonts/SFUITextRegular.woff') format('woff'),
    url('../fonts/SFUITextRegular.ttf') format('truetype'),
    url('../fonts/SFUITextRegular.svg#SFUITextRegular') format('svg');
}

@font-face {
  font-family: 'SFUITextBold';
  src: url('../fonts/SFUITextBold.eot');
  src: url('../fonts/SFUITextBold.eot') format('embedded-opentype'),
    url('../fonts/SFUITextBold.woff2') format('woff2'),
    url('../fonts/SFUITextBold.woff') format('woff'),
    url('../fonts/SFUITextBold.ttf') format('truetype'),
    url('../fonts/SFUITextBold.svg#SFUITextBold') format('svg');
}

@font-face {
  font-family: 'SFCompactDisplayBold';
  src: url('../fonts/SFCompactDisplayBold.eot');
  src: url('../fonts/SFCompactDisplayBold.eot') format('embedded-opentype'),
    url('../fonts/SFCompactDisplayBold.woff2') format('woff2'),
    url('../fonts/SFCompactDisplayBold.woff') format('woff'),
    url('../fonts/SFCompactDisplayBold.ttf') format('truetype'),
    url('../fonts/SFCompactDisplayBold.svg#SFCompactDisplayBold') format('svg');
}

@font-face {
  font-family: 'SFUITextLight';
  src: url('../fonts/SFUIText-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
