.challenge-header {
  background: #000;
  height: 64px;
  top: 0;
  position: fixed;
  z-index: 99;
  width: 100%;
}

.challenge-header .container {
  display: flex;
  justify-content: center
}

nav {
  text-align: left;
  width: 30%;
}

nav a {
  color: #ffffff;
  display: inline-block;
  font-family: 'SFCompactDisplayBold';
  font-size: 18px;
  margin: 20px;
}

.header-search {
  position: relative;
  margin: 23px auto 0;
  width: 66px;
}

.header-search .input-toggle {
  left: -20px;
  position: absolute;
  top: -4px;
  opacity: 0;
  overflow: hidden;
  width: 1px;
  transition: all .25s linear;
}

.header-search input[type="text"] {
  width: 380px;
}

.header-search input[type="text"]:focus {
  outline: none;
}

.header-search .input-toggle-active {
  left: -400px;
  opacity: 1;
  width: 380px;
}

.header-search .search-icon svg {
  color: #9a5fa9;
}
