.chart {
	background-color: rgba(0, 0, 0, 0.4);
	padding: 100px 0;
}

h2 {
 	color: #ffffff;
  font-family: 'SFCompactDisplayBold';
  font-size: 18px;
  letter-spacing: 5px;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
}

.date-picker {
	border: solid 1px #ccc;
	font-family: 'SFUITextRegular';
	font-size: 14px;
	margin: 10px;
	padding: 4px;
}

.date {
	margin: 0 auto;
	width: 800px;
}

.date h2 {
	color: #ffffff;
	display: inline-block;
  font-family: 'SFUITextRegular';
  font-size: 14px;
	width: 50%;
}

.change-date {
	color: #ffffff;
	display: inline-block;
  font-family: 'SFUITextRegular';
  font-size: 14px;
}

.chart-wrap {
	background: #000;
	display: flex;
	height: 600px;
	margin: 0 auto;
	position: relative;
	width: 1000px;
}

.lines, .bars {
	height: 100%;
	left: 10%;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 90%;
}

.line {
	background: #fff;
	bottom: 0;
	left: 10%;
	opacity: .3;
	position: absolute;
	top: 0;
	width: 1px;
}

.bar-text-content {
	background: #000;
	height: 100%;
	position: relative;
	width: 10%;
}

.distance {
	position: absolute;
	left: -350px;
	top: 42%;
	transform: rotate(-90deg);
	width: 600px;
}

.range {
	bottom: 0;
	color: #ffffff;
	display: block;
  font-family: 'SFUITextRegular';
  font-size: 10px;
  right: 10px;
  text-align: right;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  z-index: 26;
}

.range:nth-of-type(2) {
	bottom: 100px;
}

.range:nth-of-type(3) {
	bottom: 200px;
}

.range:nth-of-type(4) {
	bottom: 300px;
}

.range:nth-of-type(5) {
	bottom: 400px;
}

.range:nth-of-type(6) {
	bottom: 500px;
}

.range:nth-of-type(7) {
	bottom: 600px;
}


.bar-wrap {
	height: 100%;
	position: relative;
	width: 100%;
}

.bar {
	background: #888;
	border: 1px solid #fff;
	bottom: 0;
	box-sizing: border-box;
	position: absolute;
	z-index: 25;
}

.starLabel {
	height: 100%;
	position: relative;
	width: 100%;
}

.starName {
	bottom: 100px;
	color: #ffffff;
	display: block;
  font-family: 'SFCompactDisplayBold';
  font-size: 12px;
  left: -85px;
  text-transform: uppercase;
  transform: rotate(-90deg);
  position: absolute;
  width: 200px;
  z-index: 26;
}