@import '~react-table/react-table.css';
@import './styles/ui/fonts.css';
@import './styles/ui/header.css';
@import './styles/ui/background.css';
@import './styles/main/chart.css';
@import './styles/main/data-table.css';
@import './styles/ui/footer.css';

body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
